/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
	max-width 450px!important

// 侧边栏样式
// 左侧侧边栏标题
.sidebar > .sidebar-links > li > a.sidebar-link {
	font-size: 1.5em !important;
	margin-left: -1em;
}
// 右侧文章标题导航栏
a.sidebar-link {
	font-size: 16px !important;
}
// 左侧边栏标题字体大小样式
.sidebar-heading span{
    font-size: 1.2em;
    font-weight: bold;

}
.sidebar-heading.open span{
    font-weight: bold;
}

// 左侧边栏展开文章的字体大小
a.sidebar-link.active {
    color: #070808 !important;
    font-size: 14px !important;
    background: #c3d4b742 !important;
}
.sidebar-sub-headers a.sidebar-link {
    margin: 0 1rem 0 1rem !important;
}
// 分组的透明度修改，未生效
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
    opacity: 0.5;
}

// 去除左上角标题，作者，标签等
.page .page-title {
    // display: none;
}

.back-to-ceiling{bottom: 83px!important;}

// 看板娘
.kbn-ban-home, .kbn-ban-message, .kbn-ban-close{
	display: none  !important
}
.kbn-ban-theme, .kbn-ban-info{
	position: fixed;
	bottom: 2.6rem; right: 1rem;width: 2.5rem;
    line-height: 2.5rem;
			background-color: var(--background-color);
			box-shadow: var(--box-shadow);
    display: inline-block;
    text-align: center;
    cursor: pointer;
		border-radius: 0.25rem
}
.kbn-ban-info{
bottom: 0rem}
.messageBox{right: 0!important; bottom: 150px !important; border-radius: 2px !important; height: auto !important}

// resume
.nav-links>.nav-item:nth-of-type(1)>main>a>i{   animation: vertical 3s ease infinite;}
@keyframes vertical {

0% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
}
4% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
}

8% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
}
12% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
}
16% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
}
20% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
}
100%, 22% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}	
}